---
import Layout from '../layouts/Layout.astro'
import Choices from '../components/Choices.astro'
import Text from '../components/Text.astro'

const mockData = [
	{
		href: 'https://docs.astro.build/',
		title: 'Documentation',
		body: 'Learn how Astro works and explore the official API docs. Learn how Astro works and explore the official API docsLearn how Astro works and explore the official API docsLearn how Astro works and explore the official API docsLearn how Astro works and explore the official API docsLearn how Astro works and explore the official API docsLearn how '
	},
	{
		href: 'https://astro.build/integrations/',
		title: 'Integrations',
		body: 'Supercharge your project with new frameworks and libraries.'
	},
	{
		href: 'https://astro.build/themes/',
		title: 'Themes',
		body: 'Explore a galaxy of community-built starter themes.'
	},
	{
		href: 'https://astro.build/chat/',
		title: 'Community',
		body: 'Come say hi to our amazing Discord community. ❤️'
	}
]
---

<Layout title="Welcome to Astro.">
	<main>
		<Text
			title="Um novo começo"
			body="Você acorda com uma dor de cabeça terrível e um sorriso feroz no rosto."
		/>

		<Choices options={mockData} />
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}

	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
</style>
