---
interface Props {
	title: string
	body: string
}

const { title, body } = Astro.props
---

<div class="instructions">
	<h1 class="title">{title}</h1>
	<p>{body}</p>
</div>

<style>
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
</style>
